<h2 style="text-align: center;">Thank you! We will respond to you as soon as we are able.</h2>
<p style="text-align: center;"><%= link_to "Click here to request another quote!", new_quote_path() %></p>