<%= image_tag("emerald_pest_control_logo.png", alt: "Emerald Pest Control - Saint George, Utah", title: "Emerald Pest Control", class: "img-responsive", style: "max-height: 50px; margin: 50px auto 25px;") %>
<h1 style="text-align: center;">Coming Soon!</h1>