/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px){
  .nav-wrapper{background-size: 150%; background-position: -70px 5%;}
  body, .parallax {background-attachment: scroll;}
  #insects_wrapper{font-size: 36px;}
  .btn-big{font-size: 20px;}
  #logo{margin: 0 auto 25px;}

  #slider{
    height: 400px;
    img{height: 400px; max-width: none; position: relative;}
    #truck img{left: -75%}
    #bug-spray img{left: -30%}
    #back-of-truck img{left: -75%}
    #owner img{left: -75%}
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){
  .nav-wrapper{background-size: 100%; background-position: 100px 10%;}
}

@media (min-width: 768px) and (max-width: 991px){
  #insects_wrapper{font-size: 24px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #insects_wrapper{font-size: 36px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}