@import "theme";

html, body{height: 100%;}

body{
  background-image: image-url("web2.png"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; 
  background-position: left top;
}
body, h1, h2, h3, h4, h5, h6{line-height: 1.5em;}
h1, h2, h3, h4, h5, h6, .btn, #insects_wrapper, .caption, footer{font-family: Corbel;}
@font-face{
  font-family: 'Corbel';
  src: font-url('corbel.ttf') format('truetype');
} 

@font-face{
  font-family: 'Josefin';
  src: font-url('JosefinSans-Bold.ttf') format('truetype');
} 

a{text-decoration: underline;}
input[type=text], select, textarea{font-family: Helvetica, Arial, sans-serif;}
nav{
  width: 100%;
  .nav-wrapper{
    padding: 25px 0 0; box-sizing: border-box; font-family: Corbel; background-repeat: no-repeat;

    #logo{max-height: 50px; margin-bottom: 25px;}

    .menu {
      text-align: right;
      a{margin: 0 15px; text-decoration: none;}
      span{margin-right: 0;}
    }

    .social-media-container{
      a{margin: 0 5px;}
      img{margin-bottom: 10px; width: 24px;}
    }

    .navbar-collapse {
      text-align: center; border-top: none; box-shadow: none;
      a, span, .social-media-container{margin: 15px 0; display: block; text-decoration: none;}
    }

    .navbar-collapse-container{
      text-align: right; color: #FFF; font-size: 20px;
      .glyphicon {cursor: pointer; position: absolute; right: 15px; padding: 10px; border: 1px solid transparent; z-index: 10;}
    }
  }
}

#carousel-wrapper{
  padding: none;
  #slider{
    background-color: #FFF; position: relative; overflow: hidden; text-align: center;
    .carousel-control{background-image: none; width: 30px;}
    .carousel-indicators{
      bottom: 0;
      li{margin: 0 10px 0;}
    }
  }
}

#emerald-promise-wrapper{
  padding: 50px; margin-bottom: 25px; margin-top: 25px;
  h2{margin-top: 0; margin-bottom: 25px; font-weight: bold;}
  h3, p{margin: 0;}
}

.service-header{
  text-align: center;
  h1{background-color: $link-color; padding: 20px; margin: 0;}
}

#insects_wrapper{
  margin-top: 15px;
  img{max-width: 35px;}
  div{padding: 10px;}
  div:nth-child(odd){background-color: rgba(50, 50, 50, 0.4);}
  div:nth-child(even){background-color: rgba(10, 10, 10, 0.4);}
}

.number{font-family: sans-serif;}

.box{
  background-color: rgba(34, 34, 34, 1); border-radius: 4px; 
  box-shadow: 0 0 5px #111; padding-top: 25px; padding-bottom: 25px; margin-bottom: 25px;
  h1{margin-top: 0;}
}

.row .divider{padding: 0;}
.green-bg{background-color: $green;}
.dark-green-bg{background-color: $dark-green;}
.divider-bg{height: 5px;}

.btn-big{font-size: 24pt; text-align: center; width: 100%;}

.main-content{height: 100%;}
.parallax { 
  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .caption{
    position: absolute; left: 0; top: 50%; width: 100%; text-align: center;
    .border{
      background-color: #232323; color: #FFF; padding: 25px 50px; display: inline-block;
      h2{margin: 0; font-size: 25px;}
    }
  }
}


.parallax.de-web{background-image: image-url("de-web.jpg");}
.parallax.granules{background-image: image-url("granules.jpg");}
.parallax.power-spray{background-image: image-url("power-spray.jpg");}
.parallax.dust-injection{background-image: image-url("dust-injection.jpg");}
.parallax.house{background-image: image-url("house.jpg");}
.parallax.emerald-promise{background-image: image-url("spider-web.jpg");}

.description{padding-top: 25px; padding-bottom: 25px; margin-bottom: 0;}

footer{text-align: center; padding: 25px; background-color: $link-color; a{color: #FFF;}}

.field_with_errors{
  input[type=text], select, textarea{border: 2px solid $state-danger-border; font-color: $state-danger-text;}
}