// $body-bg: #231f20;
$body-bg: #232323;
$green: #2b802b;
$dark-green: darken(#2b802b, 5%);
$link-color: $green;
$link-hover-color: lighten($link-color, 15%);
$carousel-indicator-active-bg: $link-color;
$carousel-indicator-border-color: transparent;
$text-color: #FFF;
$font-family-sans-serif: Corbel;
$btn-primary-bg: $link-color;
$btn-primary-border: #226622;
