<div class="social-media-container">
  <%= link_to image_tag("FB-f-Logo__white_72.png", alt: "Find us on Facebook", title: "Find us on Facebook"), "https://www.facebook.com/EmeraldPestControl/", target: :_blank, style: "margin-right: 0;" %>
</div>
<%= link_to "request a quote", new_quote_path() %>
<span class="number">435.619.1633</span>